*
{
    margin: 0;
}
#signin_signup
{
    display: block;
}
#signup
{
    display: block;
}
#signin
{
    display: none;
}
#container
{
    margin-left: 40%;
    margin-top: 20vh;
    border: 2px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 200px;
    text-align: center;
}
#home
{
    display: none;
}
#C_balance
{
    display: none;
}
#recharge
{
    display: none;
}
#nav
{
    display: none;
}
#nav ul
{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
#B_history
{
    display: none;
}
#Borrow_book
{
    display: none;
}
#b_count
{
    display: none;
}
#return_book
{
    display: none;
}
#return
{
    display: none;
}